body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #444;
    color: #fff;
}

.cardred {
    display: inline-block;
    height: 60px;
    width: 40px;
    position: relative;
    top: 15px;
    margin: 5px;
    border-style: solid;
    border-top-color: #555;   
    border-color: #444;  
    border-width: 1px; 
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(#444, #333);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.8);
    font-size: 16px;
    font-weight: lighter;
    color: #fd9184;
}

.cardblue {
    display: inline-block;
    height: 60px;
    width: 40px;
    position: relative;
    top: 15px;
    margin: 5px;
    border-style: solid;
    border-top-color: #555;   
    border-color: #444;  
    border-width: 1px; 
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(#444, #333);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.8);
    font-size: 16px;
    font-weight: lighter;
    color: #25d5db;
    
}

.cardyellow {
    display: inline-block;
    height: 60px;
    width: 40px;
    position: relative;
    top: 15px;
    margin: 5px;
    border-style: solid;
    border-top-color: #555;   
    border-color: #444;  
    border-width: 1px; 
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(#444, #333);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.8);
    font-size: 16px;
    font-weight: lighter;
    color: #F3d24c;
}

.cardgreen {
    display: inline-block;
    height: 60px;
    width: 40px;
    position: relative;
    top: 15px;
    margin: 5px;
    border-style: solid;
    border-top-color: #555;   
    border-color: #444;  
    border-width: 1px; 
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(135deg, #444, #333);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.8);
    font-size: 16px;
    font-weight: lighter;
    color: #a0e493;
}

.flip {
    transform: rotate(180deg);
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.fa-info-circle {
    position: relative;
    top: -163px;
}

#player {
    padding: 20px;
    background: linear-gradient(90deg, #fff 95%, #ebeaea);
    border-style: solid;
    border-color: #d06649;
    border-top-color: #f2785a;
    border-width: 3px;
    box-shadow: 8px 10px 5px rgba(15, 15, 15, 0.8);
    position: relative;
    top: -105px;
    width: 95%;
    height: 120px;
    border-radius: 10px;
    color: #444;
}

p {
    position: relative;
    margin-top: -6px;
}
#computer {
    padding: 20px;
    background: linear-gradient(90deg, #fff 95%, #ebeaea);
    border-style: solid;
    border-color: #86d676;
    border-top-color: #bce9b3;
    border-width: 3px;
    box-shadow: 8px 10px 5px rgba(15, 15, 15, 0.8);
    position: relative;
    top: 25px;
    width: 95%;
    height: 120px;
    border-radius: 10px;
    color: #444;
}

#storage {
    padding: 20px;
    background: linear-gradient(90deg, #fff 95%, #ebeaea);
    border-style: solid;
    border-color: #dbb75e;
    border-top-color: #f7d176;
    border-width: 3px;
    box-shadow: 8px 10px 5px rgba(15, 15, 15, 0.8);
    position: relative; 
    top: 45px;
    width: 42%;
    height: 120px;
    border-radius: 10px;
    color: #444;
}

#start {
    padding: 20px;
    background: linear-gradient(90deg, #fff 95%, #f3f3f3);
    border-style: solid;
    border-color: #1b9486;
    border-top-color: #36a698;
    border-width: 3px;
    box-shadow: 8px 10px 5px rgba(15, 15, 15, 0.8);
    width: 45%;
    height: 121px;
    position: relative;
    border-radius: 10px;
    left: 50%;
    top: -121px;
    color: #444;
}

#rules {
    color: #5ca0bb;
    position: relative;
    top: -90px;
    width: 150px;
    height: 40px;
    cursor: pointer;
}
#rules i {
    position: relative;
    top: -10px;
}
#rules p {
    position: relative;
    left: 45px;
    top: -28px;
}
footer {
    background-color: #5ca0bb;
    padding: 10px;
    border-radius: 5px;
    width: 96%;
    box-shadow: 8px 10px 5px rgba(15, 15, 15, 0.8);
    position: relative;
    top: -100px;
    height: 20px;
    color: #222;
}

.underline {
    text-decoration: underline;
}

.background {
    display: inline-block;
    height: 60px;
    width: 40px;
    position: relative;
    top: 15px;
    margin: 5px;
    border-style: solid;
    border-top-color: #555;   
    border-color: #444;  
    border-width: 1px; 
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(#444, #333);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.8);
    font-size: 16px;
    font-weight: light;
    color: #fff;
}

.background p {
    position: relative;
    top: 20px;
    left: 2px;
}

.playerwins {
    font-size: 50px; 
    color: #d06649;
}

.computerwins {
    font-size: 50px; 
    color: #a0e493;
}

.fa-heart, .fa-star, .fa-moon, .fa-snowflake {
    position: relative;
    top: 21px;
    left: 3px;
    opacity: 0.5;
}