body{
    width: 100%;
    height: 100%;
    background-image: url(bg.png);
    overflow: visible;
}

#Wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}
.Busch {
    position: absolute;
    top: -75px;
    left: -70px;
}

.Pinguin{
    position: absolute;
    top: 250px;
    left: 500px;
}

img {
    z-index: 1;
}

p {
    color: white;
    position: absolute;
    top: 200px;
    left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    line-height: 2em;
}
h1 {
    position: absolute;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: whitesmoke
    top: 100px;
    left: 25px;
}
