body{
    background-image: url(bg.png);
    text-align: center;
}

.Wrappper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Busch {
    position: relative;
    top: 10px;
    z-index: 3;
    left: -250px;
}

.Pinguin{
    position: relative;
    top: 110px;
    left: 280px;
    z-index: 3;
}

p {
    color: white;
    position: absolute;
    top: 45%;
    left: 30%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 2em;
}
h1 {
    position: absolute;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: white;
    top: 28%;
    left: 30%;
}