body{
    background-image: url(bg.png);
    text-align: center;
}

.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    z-index: 1;
}

.Wrappper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Busch {
    position: relative;
    top: -180px;
    z-index: 3;
    left: -250px;
}

.Pinguin{
    position: relative;
    top: -80px;
    left: 280px;
    z-index: 3;
}

.Text {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 200px;
    left: 400px;
    z-index: 2;
  color: black;
}

p {
    color: white;
    font-size: 20px;
}
h1 {
color: white;
font-size: 40px;
}