body{
    background-image: url(bg.png);
    text-align: center;
    overflow: hidden;
}

.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    z-index: 1;
}

.Busch {
    position: relative;
    top: -470px;
    z-index: 2;
    left: -250px;
}

.Pinguin{
    position: relative;
    top: -350px;
    left: 280px;
}

.Text {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 30%;
    left: 30%;
  color: black;
}

p {
    color: white;
    font-size: 20px;
}
h1 {
color: white;
font-size: 40px;
}

@media screen and (max-width: 900px) {
 body {
overflow: visible;
    }
p {
    font-size: 5px;
}
h1 {
    font-size: 10px;
}

.Wrapper {
    margin-top: 20%; 
}
}