body {
    text-align: center;
    background-image: url(bg.png);
    width: 800px;
    margin: auto; 
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position:fixed;
    top: 0px;
    right: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    border-right: 1px solid white;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px
}

li:last-child{
    border-right: none;
}
.active {
    background-color: darkgreen;
}

#BorderRight {
    border-bottom-right-radius: 10px;
}

#BorderLeft {
    border-bottom-left-radius: 10px;
}

.basic {
    display: inline-block;
    width: 300px;
    height: 10px;
    margin: 2px;
    padding: 5px;
    font-size: 12px;
    color: black;
    border: 1px lightgrey;
    background-color:lightgrey;
    cursor: pointer;
    }

#Nachricht {
    display: inline-block;
    text-align: start;
    width: 300px;
    height: 50px;
    margin: 2px; 
    padding: 5px;
    font-size: 12px;
    color: black;
    border: 1px lightgrey;
    background-color:lightgrey;
    cursor: pointer;
}

.Button {
display: inline-block;
text-decoration: none;
    width: 100px;
    height: 20px;
    margin: 2px;
    padding: 5px;
    font-size: 12px;
    color: black;
    border: 1px lightgrey;
    background-color:lightgrey;
    cursor: pointer;
}

.ImageButton {
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin: 2px;
    padding: 0px;
    background-image: url(glyph-logo_May2016.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ImageButton:hover {
   background-color: grey;
}

h1 {
    color: darkgreen;
}

 img {
     margin-top: 5px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 5px;
 }

.Video {
    margin-top: 2px;
    margin-bottom: 2px;
}

a {
    font-size: 15px;
    color: white;
    background-color: black;
}

.Style {
   color: grey;
    font-size: 7px;
}

a:hover {
    background-color: silver;
}