body {
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
}

#Pad {
    margin: auto;
    width: 500px;
}

#SoundOne {
    background: linear-gradient(#1E90FF, #1874CD);
    border-radius: 3%;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #1874CD;
    border-top-color: #63B8FF;
    border-width: 2px;
}

#SoundTwo { 
    background: linear-gradient(#FF1493, #CD1076);
    border-radius: 3%;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #CD1076;
    border-top-color: #FF69B4;
    border-width: 2px;
}
#SoundThree { 
    background: linear-gradient(#FF1493, #CD1076);
    border-radius: 3%;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #CD1076 ;
    border-color: #CD1076;
    border-top-color: #FF69B4;
    border-width: 2px;
}

#SoundFour { 
    background: linear-gradient(#1E90FF, #1874CD);
    border-radius: 3%;
    position: relative;
    left: 162px;
    top: -477px;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #1874CD ;
    border-color: #1874CD;
    border-top-color: #63B8FF;
    border-width: 2px;
}

#SoundFive {
    background: linear-gradient(#FF1493, #CD1076);
    border-radius: 3%; 
    position: relative;
    left: 162px;
    top: -477px;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #CD1076 ;
    border-color: #CD1076;
    border-top-color: #FF69B4;
    border-width: 2px;
}

#SoundSix { 
    background: linear-gradient(#FFA500, #FF8C00);
    border-radius: 3%;
    position: relative;
    left: 162px;
    top: -477px;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #FF8C00 ;
    border-top-color: #FFB90F;
    border-width: 2px;
}

#SoundSeven { 
    background: linear-gradient(#1E90FF, #1874CD);
    border-radius: 3%;
    position: relative;
    left: 324px;
    top: -954px;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #1874CD ;
    border-top-color: #63B8FF;
    border-width: 2px;
}
#SoundEight { 
    background: linear-gradient(#FF1493, #CD1076);
    border-radius: 3%;
    position: relative;
    left: 324px;
    top: -954px;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #CD1076 ;
    border-top-color: #FF69B4;
    border-width: 2px;
}
#SoundNine { 
    background: linear-gradient(#FFA500, #FF8C00);
    border-radius: 3%;
    position: relative;
    left: 324px;
    top: -954px;
    margin: 5px;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #FFA500 ;
    border-color: #FF8C00 ;
    border-top-color: #FFB90F;
    border-width: 2px;
}

#PlayBeat {
    position: relative;
    top: -905px;
    right: -20px;
    height: 50px;
    width:50px;
}

#Trash {
    position: relative;
    top: -955px;
    right: -100px;
    height: 50px;
    width:50px;
}

#Mic {
    position: relative;
    top: -1000px; 
    right: -400px;
    height: 50px;
    width:50px;
}

#Pause {
    position: relative;
    height: 50px;
    width:50px;
    top: -970px;
    right: 20px;
}
p {
    font-size: 12px;
    position: fixed;
    bottom:0px;
    right: 0px;
    color: white;
}